# dbt
target/
dbt_packages/
logs/
dbt_modules/

# Python virtual environments
.venv/
.venv311/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# BigQuery
*.json

# Streamlit secrets
.streamlit/secrets.toml
bi/.streamlit/secrets.toml